* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    z-index: 100;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7rem;
    transition: 0.1s ease;
}

@media screen and (max-width:768px) {
    .nav-menu {
        width: 100%;
        position: absolute;
        top: -400%;
        left: 0;
        background-color: #e3e6e9;
        padding-left: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    ul li {
        margin: 0.5em 0;
    }
}

.show {
    top: 5rem;
}